<section class="info-cards">
    <div class="card">
        <h3>+ Best guide for you</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum feugiat purus, vitae finibus eros convallis id.</p>
    </div>
    <div class="card">
        <h3>+ Best journey for you</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum feugiat purus, vitae finibus eros convallis id.</p>
    </div>
    <div class="card">
        <h3>+ Tibet destination</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum feugiat purus, vitae finibus eros convallis id.</p>
    </div>