<section class="carousel">
    <h1><span class="highlight">EVEREST</span></h1>
    <h1>WAITING</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum feugiat purus, vitae finibus eros convallis id.</p>
    <div class="icon-container">
        <span class="icon"><img src="assets/images/home.png" alt="Icon 1"></span>
        <span class="icon"><img src="assets/images/instagram-symbol.png" alt="Icon 2"></span>
        <span class="icon"><img src="assets/images/facebook-app-logo.png" alt="Icon 3"></span>
        <span class="icon"><img src="assets/images/home.png" alt="Icon 4"></span>
    </div>
    <div class="search-box">
        <input type="text" placeholder="Try search something...">
        <button>Search</button>
    </div>
    
</section>
